.logotipo {
	width: 150px;
	padding: 10px 0px;
}

.iconos-redes-header {
	width: 20px;
	margin: 10px 5px;
}

/* Slider */

.carousel-item {
	height: 85vh;
	position: relative;
}

.img-slider {
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
}
